html {
  box-sizing: border-box;
  min-height: 100%;
}
*,
  ::after,
  ::before {
    box-sizing: inherit;
  }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#615dad, #ffc8da);
  font-family: 'Arial', sans-serif;
  font-size: 100%;
  color: #ffffff;
  margin: 0;
}

/* Index.html */

.title {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  font-weight: normal;
  margin: 10px 0 20px;
  text-align: center;
}

.opening {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.container,
.container__respons {
  max-width: 370px;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  margin: 100px 0px;
}

.descr {
  padding: 10px 20px;
  text-align: center;
}

.text,
.list {
  line-height: 1.5;
}

.button {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  display: block;
  padding: 20px 0;
}

.rule,
.home {
  background-color: #1fcca4;
  margin-bottom: 1px;
}

.start,
.restart {
  background-color: #0197f6;
}

.rule:hover,
.rule:focus,
.home:hover,
.home:focus {
  background-color: #1cbb96;
}

.start:hover,
.start:focus,
.restart:hover,
.restart:focus {
  background-color: #0090e9;
}

/* Pravidla.html */

.rules {
  padding: 20px;
  padding-top: 0;
}

ul {
  list-style-type: decimal;
  padding-left: 30px;
}

li {
  padding-left: 10px;
}

.char {
  width: 1em;
  height: 1em;
}

.white {
  filter: invert(100%);
}

.galery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instruction {
  max-width: 100%;
  padding-bottom: 10px;
}


figcaption {
  text-align: center;
  font-style: italic;
  opacity: 75%;
}

@media screen and (min-width: 800px) {

  .container__respons {
    max-width: 720px;
  }

  .galery {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  figure {
    margin: 20px 10px;
    text-align: center;
    flex-basis: calc((100% - 80px) / 2);
  }

}

/* Hra.html */

.container-game {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 370px;
  margin: 100px 0;
}

.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.buttons-game {
  display: flex;
}

span {
  font-weight: bold;
}

.home,
.restart {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.game {
  margin: 20px;
  border: 1px solid rgba(37, 37, 37, 0.8);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
}

.game button {
  border: 1px solid rgba(37, 37, 37, 0.8);
  background-color: rgba(255, 255, 255, 0.5);
  flex: 1 1 10%;
  padding: 15px;
}

.game button:hover,
.game button:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 800px) {

  .container-game {
    max-width: 80vmin;
  }

  .game button {
   padding: 30px;
  }